.bg{
    height: calc(100vh - 210px);
    width:100% ;
    
}
.alter{
    background-color: bisque;
    width: 60vw;
    height: 90%;
}
.alterorder{
    background-color: bisque;
    width: 60vw;
    height: 90%;
    overflow-y: auto;
}
.bgorder{
    background-color: #fcc25f; 
}
.bgall{
    width: 100vw;
    background-image: url("../images/home-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.back{
    z-index: -10;
}